body {
    padding: 0;
    margin: 0;
}

#container {
    background-color: #212228;
    background-image: linear-gradient(#292a30 .1em, transparent .1em), 
                      linear-gradient(90deg, #292a30 .1em, transparent .1em);
    background-size: 4em 4em;
    height: 100vh;
    position: relative;
}

.card {
    width: 100px;
    height: 100px;
    background-image: url('./seat.png');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: grab;
    position: absolute;
    margin-bottom: 10px;
}
.card2 {
    width: 100px;
    height: 100px;
    background-image: url('./seat.png');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: grab;
    position: absolute;
    margin-bottom: 10px;
}


#backgrond {
    background-color: #ffffff;
}

#toolbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 120px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#confirmButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#confirmButton:hover {
    background-color: #218838;
}
#stage {
    position: absolute; /* เปลี่ยนเป็น absolute เพื่อให้ลากได้ */
    bottom: 0; /* เริ่มต้นจากด้านล่าง */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100px;
    background-color: #555555;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 24px;
    cursor: grab; /* เปลี่ยนเคอร์เซอร์เป็นมือจับเมื่อพร้อมลาก */
}
